@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Poppins:wght@200;300;400;700&display=swap');

html {
color: #fff;
font-family:  "Poppins",'Montserrat', sans-serif;
font-size: 16px;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
line-height: 1.5;
min-height: 100vh;
min-width: 300px;
overflow-x: hidden;
text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
transition: all 500ms ease-in-out 0.5s;
scroll-behavior: smooth;
}


a {
color: currentColor;
cursor: pointer;
text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

section{
background-color: #5062AA;
border: solid black 0px;
}
.hero{
background-color: #2D1832;
height: 100vh;
color: wheat;
}

footer{
height: 500px;
background-color: black;
}

.nav-section{
    background-color: #2D1832;
}
nav{
display: flex;
justify-content: space-between;
width: 100%;
}
nav ul{
display: flex;
justify-content: space-around;
list-style-type: none;
width: 40vw;
font-size: 1.2rem;
font-weight: 300;
font-family: 'Montserrat', sans-serif;
font-weight: 700;

}
li{
padding: 7px;
}
nav li:hover{
color: #e34c09;
text-align: center;
cursor: pointer;
}

.logo{
    margin: 18px 7px;
}

#nav-toggle { 
    cursor: pointer; 
    padding: 10px 35px 16px 0px;
    float: right;
    position: absolute;
    right: 7px;
    top:14px;
    display: none;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: wheat;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after :hover{
    background: #e34c09;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 799px){
    nav ul{
        display: none;
    }
    #nav-toggle{
        display: block;
        margin: 18px 7px;
    }
   
    nav ul.activate{ 
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 30vw;
        top: 9vh;
        backdrop-filter: blur(7px);
        align-items: center;
        border-radius: 15px;
        height: 33vh;
        border:1spx solid #e34c09;
        border-top: transparent;
        transition: all 500ms ease-in-out;
        -webkit-box-shadow: -1px 8px 12px -2px rgba(227,76,9,0.36); 
        box-shadow: -1px 8px 12px -2px rgba(227,76,9,0.36);
        text-align: center;
    }
    nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        left: 30vw;
        top: 9vh;
        backdrop-filter: blur(7px);
        align-items: center;
        border-radius: 15px;
        height: 33vh;
        border:1spx solid #e34c09;
        border-top: transparent;
        transition: all 500ms ease-in-out;
        text-align: center;
        -webkit-box-shadow: -1px 0px 12px -2px #F3F3F3; 
        box-shadow: -1px 0px 12px -2px #F3F3F3;
    }
    nav ul.hideIt{
        display: none;
    }
    .hero h1{
        line-height: 111px;
    }
    section#about.sub-section{
        padding: 0px;
    }
    #about h2{
        font-size: 54px;
        line-height: 70px;
        color: wheat;
    }
    .information{
        width: 60%;
        padding-left: 14px;
        margin: 0;
        font-size: 18px;
    }
    #projects h2{
        font-size: 54px;
        line-height: 120px;
    }

    .form-div{
       
        height: 70%;
        width: 100%;
    }
    form{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #requests{
        width: 40%;
        height: 60%;
    }
    .personal-contact-div{
        display:flex;
        width: auto;
        margin-bottom: 5%;
    }
    .form-submit-section{
     
    }
   
}

.hero-area{
display: flex; 
height: 100%;
justify-content: space-between;
align-items: center;
}

.hero-text h1{
font-size: 90px;
font-weight: 700; 
}

.sub-section h2{
font-size: 80px;
}
.hero-text p {
font-size: 24px;
font-weight: 300;
font-family: "Poppins","Montserrat", "Quicksand", sans-serif;
}
.hero-text{
margin-left: 7vw;
margin-bottom: 100px;
} 

.line-split{
width: 28%;
height: 3px;
background-color: wheat;
margin-bottom: 11px;
}

.socials{
padding-bottom: 100px;
height: 200px;
}

.social-div{
margin-right: 7px;
padding: 4px;
}
.social{
padding: 10px 10px;
}


.button{
width: 171px;
height: 48px;
font-size: 24px;
background-color: #f85e00;
border-radius: 33px;
text-align: center;
cursor: pointer;
font-weight: 300;
padding-top: 5px;
margin-top: 20px ;
}

.button:hover{
background-color: #e34c09;
}
.button:active{
background-color: #a41623;
}

.sub-section {
display: flex;
justify-content: space-around;
background: linear-gradient(#2D1832 7%, thistle 93%) ;
color: #2D1832 ;
align-items: center;
padding: 60px;
font-size: 24px;
}

.sub-section-projects{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(thistle 20%, #f1e3e4 80%);
}
.sub-section-projects h2{
    font-size: 80px;
    color: #2D1832;
}

.line-split-1{
height: 3px;
width: 18%;
background-color: #f85e00;
}

.information{
 margin: auto;
}

.picture-image {
border-radius: 999px;
height: auto;
width: 70%;
min-width: 130px;
}

.picture{
    display: flex;
    align-items: center;
    padding-top: 8%;
    width: 100%;
    margin: 8%;
    justify-content: center;
}
 
@media only screen and (max-width: 720px){
  
}



.project-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project-card{
    width: 200px;
    height: 270px;
    -webkit-box-shadow: 10px 11px 32px -10px #110B0A; 
    box-shadow: 10px 11px 32px -10px #110B0A;
    margin: 22px auto;
}

.form-submit-section{
    display: flex;
    background: linear-gradient(#f1e3e4 20%, thistle 80% );
    color:#2D1832;
    height: auto;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
.form-submit-section h3{
    clear: both;
    font-size: 54px;
    margin-top: 20px;
}
.form-div{
    display: flex;
    flex: 2;
    flex-direction: column;
    position: relative;
    height: 67%;
    width: 60%;
    min-width: 350px;
    justify-content: center;
    align-items: center;
    top: 40px;
    padding: 40px 10px;
    
}
.form-div p{
    margin-bottom: 0;
}

.personal-contact-div{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 100%;
    background-color:;
}
.contact-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 90%;
    background-color:;
}

form{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 300px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 10px;
}
#username {
    width: 40%;
    padding: 15px 10px;
    margin: 20px 10px;
    background: wheat;
}
#requests{
    width: 40%;
    padding: 30px 20px;
    margin: 20px 10px;
    background: wheat;
}
#email{
    width: 40%;
    padding: 15px 10px;
    margin: 20px 10px;
    background: wheat;
}
#form-submit-button{
    
    right: 66%;
    top: 99%;
    background-color: #f85e00;
    width:70px;
    height: 35px;
    margin: 15px 10px 15px 10px;
    border-radius: 6px;
    border: none;
    
}
#form-submit-button:hover{
    cursor: pointer;
}

.contact-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 133px;
    border: 1px solid black; 
    background-color: blanchedalmond;
    border-radius: 8px;
    text-align: center;
    margin: 12px 7px;
}




