@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Poppins:wght@200;300;400;700&display=swap");

html {
  color: #fff;
  font-family: "Poppins", "Montserrat", sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 500ms ease-in-out 0.5s;
  scroll-behavior: smooth;
}
body{
  width: 100%;
}
section{
  padding-bottom: 2rem;
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");

section {
  background-color: #5062aa;
  border: solid black 0px;
}
.hero {
  background-color: #2d1832;
  height: 100vh;
  color: wheat;
}

footer {
  height: 500px;
  background-color: black;
}

.nav-section {
  background-color: #2d1832;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 40vw;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
li {
  padding: 7px;
}
nav li:hover {
  color: #e34c09;
  text-align: center;
  cursor: pointer;
}

.logo {
  margin: 18px 7px;
}

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  float: right;
  position: absolute;
  right: 7px;
  top: 14px;
  display: none;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: wheat;
  position: absolute;
  display: block;
  content: "";
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 300ms ease-in-out;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after :hover {
  background: #e34c09;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(-45deg);
}
#nav-toggle.active span:after {
  transform: rotate(45deg);
}

.bg__overlay {
  position: absolute;
  top: 0;
  display: none;
  height: 100vh;
  width: 100%;
  background-color: rgba(2, 0, 3, 0.298);
}
@media only screen and (max-width: 799px) {
  nav ul {
    display: none;
  }
  #nav-toggle {
    display: block;
    margin: 18px 7px;
  }

  nav ul.activate {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30vw;
    top: 9vh;
    backdrop-filter: blur(7px);
    align-items: center;
    border-radius: 15px;
    height: 33vh;
    border: 1spx solid #e34c09;
    border-top: transparent;
    transition: all 500ms ease-in-out;
    -webkit-box-shadow: -1px 8px 12px -2px rgba(227, 76, 9, 0.36);
    box-shadow: -1px 8px 12px -2px rgba(227, 76, 9, 0.36);
    text-align: center;
  }
  .bg__overlay.activate {
    display: block;
  }
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 30vw;
    top: 9vh;
    backdrop-filter: blur(7px);
    align-items: center;
    border-radius: 15px;
    height: 33vh;
    border: 1spx solid #e34c09;
    border-top: transparent;
    transition: all 500ms ease-in-out;
    text-align: center;
    -webkit-box-shadow: -1px 0px 12px -2px #f3f3f3;
    box-shadow: -1px 0px 12px -2px #f3f3f3;
  }
  nav ul.hideIt {
    display: none;
  }
  .information {
    width: 60%;
    padding-left: 14px;
    margin: 0;
    font-size: 18px;
  }

  .form-div {
    height: 70%;
    width: 100%;
  }
  form {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #requests {
    width: 60%;
    height: 60%;
  }
  #email-span {
    width: 0%;
    height: 60%;
  }

  .personal-contact-div {
    display: flex;
    width: auto;
    margin-bottom: 5%;
  }
  .form-submit-section {
  }
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text h1 {
  font-size: 5rem;
  font-weight: 700;
  opacity: 0.8;
}

.hero-text p {
  font-size: 24px;
  font-weight: 300;
  font-family: "Poppins", "Montserrat", "Quicksand", sans-serif;
}
.hero-text {
  margin-left: 7vw;
  margin-bottom: 100px;
}



.sub-section h2 {
  font-size: 5rem;
  line-height: 1.4;
}
.line-split {
  width: 28%;
  height: 3px;
  background-color: wheat;
  margin-bottom: 11px;
}

.socials {
  padding-bottom: 100px;
  height: 200px;
}

.social-div {
  margin-right: 7px;
  padding: 4px;
}
.social {
  padding: 10px 10px;
}

.button {
  width: 171px;
  height: 48px;
  font-size: 24px;
  background-color: #f85e00;
  border-radius: 33px;
  text-align: center;
  cursor: pointer;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #e34c09;
}
.button:active {
  background-color: #a41623;
}
@media only screen and (max-width: 768px){
  .hero-text h1 {
    line-height: 1.4;
    font-size: 3rem;
  }
}
@media only screen and (max-width: 377px){
  .hero-text h1 {
    font-size: 2.4rem;
  }
  .hero-text p {
    font-size: 1.4rem;
  }
  .social-div{
    padding-right:0px;
    margin: 0;
  }
  .button{
    width: 130px;
    height: 40px;
    font-size: 1.2rem;
  }
}

.sub-section {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#2d1832 7%, thistle 93%);
  color: #2d1832;
  align-items: center;
  padding: 60px;
  font-size: 24px;
}

.sub-section-projects {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(thistle 20%, #f1e3e4 80%);
}
.sub-section-projects h2 {
  font-size: 80px;
  color: #2d1832;
}

.line-split-1 {
  height: 3px;
  width: 18%;
  background-color: #f85e00;
}

.information {
  margin: auto;
}

.picture-image {
  border-radius: 999px;
  height: auto;
  width: 70%;
  min-width: 130px;
}

.picture {
  display: flex;
  align-items: center;
  padding-top: 8%;
  width: 100%;
  margin: 8% 2rem;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  #about h2{
    font-size: 3rem;
    line-height: 1.2;
  }
  #about {
    padding: 2rem;
  }
  #about .information {
    flex: 3;
  }
  #about .picture{
    flex: 2;
  }
}
@media only screen and ( max-width: 458px){
  #about{
    flex-direction: column;
    align-items: flex-start;
  }
  #about h2{
    color: thistle;
  }
  .information{
    margin: 0px;
    width: 100%
  }
  .picture{
    width: 100%;
    margin: 0;
  }
}


.project-container {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 2rem;
  
}
.line-split-2 {
  position: relative;
  background-color: #f85e00;
  width: 18%;
  height: 3px;
  left: 49%;
  z-index: 1;
  top: 3px;
}
.coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 350px;
  -webkit-box-shadow: 10px 11px 32px -10px #110b0a;
  box-shadow: 10px 11px 32px -10px #110b0a;
  margin: 22px auto;
  border-radius: 5px;
  color: rgb(104, 103, 103);
  font-size: 12px;
}


.project-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 300px;
  -webkit-box-shadow: 10px 11px 32px -10px #110b0a;
  box-shadow: 10px 11px 32px -10px #110b0a;
  border-radius: 8px;
  color: #2d1832;
  font-size: 16px;
  
 
}
.project__card__img{
  margin-bottom: 1rem;
}
.project__card__img img{
  object-fit: cover;
  border-radius: 8px;
}

.project__card__info {
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.project__card__info p{
  margin-bottom: 1rem;
  line-height: 1.4;
  font-size: 1.2rem;
}

.button-div {
  width: 50%;
  margin: 0 auto;
}
.project-link-button {
  border: 1px solid #2d1832;
  background-color: #2d1832;
  color: wheat;
  border-radius: 4px;
  padding: 0.2rem 1rem;;
  bottom: 0rem;
}
.project-link-button:hover {
  cursor: pointer;
  border: 1px solid #2d1832;
  color: #2d1832;
  background-color: #f1e3e4;
  transition: all 0.2s ease;
}
@media only screen and (max-width: 768px){
  #projects h2{
    font-size: 2.6rem;
  }
  .project-card{
    width: 250px;
  }
  .project__card__info p {
    font-size: 1rem;
  }
}

.form-submit-section {
  display: flex;
  background: linear-gradient(#f1e3e4 20%, thistle 80%);
  color: #2d1832;
  height: auto;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.form-submit-section h3 {
  clear: both;
  font-size: 54px;
  margin-top: 20px;
}
.form-div {
  display: flex;
  flex: 2;
  flex-direction: column;
  position: relative;
  height: 67%;
  width: 60%;
  min-width: 350px;
  justify-content: center;
  align-items: center;
  top: 40px;
  padding: 40px 10px;
}
.form-div p {
  margin-bottom: 0;
}

.personal-contact-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100%;
  background-color: ;
}
.contact-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 90%;
  background-color: ;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 300px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 10px;
}
#message-form-field {
  width: 60%;
  padding: 30px 20px;
  margin: 20px 10px;
  background: wheat;
  border-radius: 8px;
}
#email {
  width: 60%;
  padding: 15px 10px;
  margin: 20px 10px;
  background: wheat;
  border-radius: 8px;
}
#email-span {
  font-size: 18px;
}
.email-arrow {
  position: relative;
  top: 6px;
}
#form-submit-button {
  right: 66%;
  top: 99%;
  background-color: #f85e00;
  width: 70px;
  height: 35px;
  margin: 15px 10px 15px 10px;
  border-radius: 6px;
  border: none;
}
#form-submit-button:hover {
  cursor: pointer;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 133px;
  border: 1px solid black;
  background-color: blanchedalmond;
  border-radius: 12px;
  text-align: center;
  margin: 12px 7px;
}



footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-align: center;
  color: rgb(104, 103, 103);
  overflow: hidden;
}
